/*****************************************************************************/
/*                                                                           */
/*                           Chartist customization                          */
/*                                                                           */
/*****************************************************************************/
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: darkolivegreen;
    /* Control the thikness of your lines */
    stroke-width: 1px;
  }

  .ct-series-a .ct-area {
    fill: darkolivegreen;
  }

  .ct-series-b .ct-line {
    /* Set the colour of this series line */
    stroke: darkgrey;
    /* Control the thikness of your lines */
    stroke-width: 1px;
  }

/*****************************************************************************/
/*                                                                           */
/*                                  Flexbox                                  */
/*                                                                           */
/*****************************************************************************/
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

#params {
  width: 20%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map { 
  width: 80%; 
  height: 100vh; 
}

#rayon {
  width: 100%;
}

#msg {
  color: red;
}

.mapControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}